@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Sporty';
    src: url('../fonts/sporty-pro-regular-xp.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sporty Bold';
    src: url('../fonts/sporty-pro-xbold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Define color variables */
:root, .dark, .dark-theme, .invert-theme {
    --geist-foreground: #fff;
    --geist-background: #000;
    --geist-secondary: #002200;
    --geist-primary: #00ff00;
    --accents-8: #fafafa;
    --accents-7: #eaeaea;
    --accents-6: #999999;
    --accents-5: #888888;
    --accents-4: #666666;
    --accents-3: #444444;
    --accents-2: #333333;
    --accents-1: #111111;
    --geist-marketing-gray: var(--accents-1);
    --geist-code: var(--geist-foreground);
    --geist-error-light: #ff3333;
    --geist-error: #ff0000;
    --geist-error-dark: #e60000;
    --geist-text-gradient: linear-gradient(180deg, #ffffff, rgba(255, 255, 255, 0.75));
    --dropdown-box-shadow: 0 0 0 1px var(--accents-2);
    --dropdown-triangle-stroke: #333;
    --scroller-start: rgba(0, 0, 0, 1);
    --scroller-end: rgba(0, 0, 0, 0);
    --header-import-flow-background: rgba(17, 17, 17, 0.8);
    --geist-violet-background: #291d3a;
    --geist-violet-background-secondary: #211830;
    --geist-violet-background-tertiary: #211830;
    --geist-background-rgb: 0, 0, 0;
    --geist-foreground-rgb: 255, 255, 255;
    --geist-console-header: #0f0310;
    --geist-console-purple: #8a63d2;
    --geist-console-text-color-default: var(--geist-foreground);
    --geist-console-text-color-blue: #3291ff;
    --geist-console-text-color-pink: #eb367f;
    --next-icon-border: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif !important;
    /* background-color: var(--geist-background); */
    /* background: rgb(2,0,36);
    background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 1) 17%, rgba(0, 4, 0, 1) 47%, rgba(0, 0, 0, 1) 74%, rgb(28 28 28) 100%); */
    background: black;
}

.background-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 36, 8, 0.95)), url('../img/rmxbg.jpg');
}

.sporty {
    font-family: 'Sporty' !important;
}

button {
    background-color: var(--accents-3);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--accents-2);
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    /* margin-bottom: 1rem !important; */
}

label,div {
    font-family: 'Poppins', sans-serif;
    color: var(--accents-7);
}

#submenu {
    color: var(--accents-7);
    padding-right: 10px;
}

p,a {
    line-height: 1.7;
    color: var(--accents-5) !important;
    text-decoration: none;
}

label,div {
    color: var(--geist-foreground);
}

a:hover {
    color: var(--geist-foreground) !important;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1rem;
    }

    h6 {
        font-size: 0.875rem;
    }

    p {
        font-size: 0.875rem;
    }
}

/* Custom Tags */
.hover\:bg-gray-700:hover {
    background-color: var(--accents-2) !important;
}

.border-b {
    border: .10px solid var(--accents-2) !important;
}

.group:hover .group-hover\:block,
.group-hover:hover .group-hover\:block {
    display: block;
}

.group:hover > .group-hover\:block {
    display: block;
    margin-top: -1px;
}

.group-hover\:block a {
    width: 100%;
}

.group:last-child .group-hover\:block {
    left: auto;
    right: 0;
}

/* Branding Green Button */
.branding-green-button {
    background: linear-gradient(90deg, #00ff00, #00cc00);
    border-radius: 30px;
    color: var(--accents-1) !important;
    padding: 8px 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    border: none;
}

.branding-green-button:hover {
    background: linear-gradient(90deg, #00cc00, #009900);
}

.text-gradient {
    color: linear-gradient(90deg, #00cc00, #009900) !important;
}

.text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity)) !important;
}

/* Swiper Custom Styles */
.swiper-button-next,
.swiper-button-prev {
    color: var(--geist-primary) !important;
    width: 20px !important;
    height: 20px !important;
    padding: 12px !important;
    background: black !important;
    border-radius: 50% !important;
    border: 1px solid !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 14px !important;
    font-weight: bold !important;
    background: black !important;
}

.swiper-pagination-bullet {
    background: var(--geist-primary) !important;
    width: 8px !important;
    height: 8px !important;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, 30px) !important;
}

/* .swiper-pagination {
    margin-top: 2rem;
} */

/* .newsSwiper {
    padding-bottom: 4rem !important;
} */

.swiper-slide {
    height: auto !important;
}

/* News Swiper */

.newsIndexSwiper {
    padding-bottom: 4rem !important;
}

.newsIndexSwiper .swiper-slide {
    height: auto !important;
    border-radius: 0.5rem;
    padding: 1.5rem;
    border: 1px solid var(--geist-primary);
}

.newsIndexSwiper .swiper-button-next,
.newsIndexSwiper .swiper-button-prev {
    color: var(--geist-primary) !important;
    width: 20px !important;
    height: 20px !important;
}

.newsIndexSwiper .swiper-button-next:after,
.newsIndexSwiper .swiper-button-prev:after {
    font-size: 16px !important;
    font-weight: bold;
}

.newsIndexSwiper .swiper-pagination-bullet {
    background: var(--geist-primary) !important;
}

/* Streamer Swiper */
.streamersSwiper {
    padding-bottom: 50px !important;
}

.streamersSwiper .swiper-slide {
    height: auto;
}

.streamersSwiper .swiper-button-next,
.streamersSwiper .swiper-button-prev {
    color: var(--geist-primary);
}

.streamersSwiper .swiper-pagination-bullet {
    background: var(--geist-primary);
}

.streamersSwiper .swiper-pagination-bullet-active {
    background: var(--geist-primary);
}

/* Hover effect to pause autoplay */
.streamersSwiper:hover .swiper-button-next,
.streamersSwiper:hover .swiper-button-prev {
    opacity: 1;
}

.streamersSwiper .swiper-button-next,
.streamersSwiper .swiper-button-prev {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.badge-glow {
    animation: glow 2s infinite;
}

.image-setting-mobile {
    width: 246%;
    height: 715px;
}
@media (max-width: 768px) {
    .image-setting-mobile {
        width: 204%;
        height: 130%;
        transform: translate(0, -11px);
    }
}

@keyframes glow {
    0%, 100% {
        filter: drop-shadow(0 0 2px currentColor);
    }
    50% {
        filter: drop-shadow(0 0 6px currentColor);
    }
}
@media(max-width: 1024px) {
    .engrave-image-img {
        margin-bottom: -27% !important;
        width: 500px !important;
    }
}

